body::before {
  display: block;
  content: "";
  height: 60px;
}

button,
a {
  outline: none !important;
  border: none !important;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
